##########
# Gradle #
##########
.gradle/

#################
# Compiled Java #
#################
build/

##############################
# Environment Variables file #
##############################
.env
